
// SPDX-License-Identifier: MIT

pragma solidity >=0.7.0 <0.9.0;

contract Storage {

    struct Multihash {
        uint8 hashFuncCode;
        uint8 digestSize;
        bytes32 digest;
    }

    Multihash tBox;
    Multihash aBox;

    function storeTBoxABox(Multihash memory _tBox, Multihash memory _aBox) public {
        tBox = _tBox;
        aBox = _aBox;
    }

    function getTBox() public view returns (Multihash memory){
        return tBox;
    }

    function getABox() public view returns (Multihash memory){
        return aBox;
    }
}